mat-drawer {
  width: 250px;
}
nav{
  height: 100px;
}
.navbar-toggler-icon{
  padding-top: 10px;
 padding-left:18px;
  height: 50px;
  width: 150px;
  border: 1px solid rgb(214, 154, 25);
  color: white;
}
nav button{
  height: 50px;
}
.options{
 
  background-color: #240c30 ;
  border:1px solid rgb(81, 81, 196) ;
}
mat-form-field{
  margin-left: 10px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(81, 81, 196);
}
mat-label{
  color: white;
}
.space{
height: 250px;
}




.container{
  height: 600px;
}

.employeedetail{
  margin-top: 2%;
  width: 50%;
  margin-left: 50%;
  height: 150px;
}mat-card{
  border-radius: 10px;
  background-color: #240c30;
  color: white;
}mat-card-subtitle{
  color: white;
}



.projectdetails{
  color: white;
 background-color: #240c30;
  margin-top: 4%;
  height: 600px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 5%;
 width: 100%;
}





.sw-container{
  margin-left: 10%;
    margin-top: 8%;
  height: 80px;
  background-color: rgb(81, 81, 196);
  padding: 5px;
  text-align: center;
  border-radius: 40px;
  width: 140px;
  box-shadow: 0 3px 6px rgb(81, 81, 196),
  0 3px 6px rgb(81, 81, 196);
}
.stopwatch{
  color: white;
  font-size: 25px;
  margin-bottom: 2px;
}
.buttoncontainer{
  height: 250px;

}.btn{
  color: white;
border-radius: 70px;

}

