<!--top nav-->


      <div>
        <nav class="navbar navbar-expand-lg" style="background-color: #240c30">
          <div class="container-fluid">
            <button
            class="btn btn-outline-warning"
            routerLink="/timetrackerpage"
            routerLinkActive="active"
            >
              TIME TRACKER
            </button>

            <button
            class="navbar-brand text-light btn btn-outline-warning mx-2"
            routerLink="/home"
            routerLinkActive="active"
          >
            HOME
          </button>

            <div class="nav_right">
              <ul>
                <li>
                  <button type="button" mat-button (click)="drawer.toggle()">
                    <img src="/assets/images/usericon.webp" alt="" class="prof" />
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <mat-drawer-container class="example-container">
          <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
            <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
              <div class="profilecard p-4">
                <div
                  class="image d-flex flex-column justify-content-center align-items-center"
                >
                  <button class="btn btn-secondary">
                    <img
                      src="/assets/images/usericon.webp"
                      height="90"
                      width="100"
                    /></button
                  ><br /><br />
                  <span class="name mt-3" style="color: black"></span> <br /><span
                    class="idd"
                    style="color: black"
                    ></span
                  >
                  <div
                    class="d-flex flex-row justify-content-center align-items-center gap-2"
                  ></div>
                  <br />
                  <div class="text mt-3">
                    <span style="color: black"></span>
                  </div>

                  <div class="d-flex mt-2">
                    <button class="btn1" routerLink="">Logout</button>
                  </div>
                </div>
              </div>
            </div>
          </mat-drawer>
          <div class="example-sidenav-content"></div>
        </mat-drawer-container>
        </div>

<!--top navbar ends here -->

<!--sidebar-->
<mat-drawer-container class="example">
  <mat-drawer mode="side" opened>
    <div class="options">
      <br />
      <br />
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Select Project</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Academic</mat-option>
          <mat-option value="2">Corporate</mat-option>
          <mat-option value="3">Government</mat-option>
          <mat-option value="4">Knowledge Office</mat-option>
          <mat-option value="5">Retail</mat-option>
          <mat-option value="6">Administration</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <br />
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Select Task</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Training</mat-option>
          <mat-option value="2">Meetings & Discussions</mat-option>
          <mat-option value="3">Lark Activity</mat-option>
          <mat-option value="4">Content Development</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <br />
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Select Mode of Work</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Work from Office</mat-option>
          <mat-option value="2">Work from Home</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <br />
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Job Description</mat-label>
        <mat-select disableRipple>
          <mat-option value="1">Non-Billable</mat-option>
          <mat-option value="2">Billable</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="space"></div>
    </div>
  </mat-drawer>
  <!--sidebar ends-->

  <!--main body-->

  <mat-drawer-content>
    <div class="container">
      <div class="row">
        <!--full project details-->
        <div class="col-6">
          <div class="projectdetails">
            <h2>{{ project }}</h2>
          </div>
        </div>
        <!--end-->

        <!--timer button-->
        <div class="col-3">
          <div class="sw-container">
            <div class="stopwatch">
              <span>{{ hr }}:</span>
              <span>{{ min }}:</span>
              <span>{{ sec }}:</span>
              <span>{{ ms }}</span>
            </div>
            <div class="buttoncontainer">
              <button class="btn" (click)="start()">
                <div class="collapsible-header">
                  <i class="material-icons" *ngIf="!showFirst"
                    >play_circle_outline</i
                  ><i class="material-icons" *ngIf="showFirst"
                    >pause_circle_outline</i
                  >
                </div>
              </button>
              <button class="btn" (click)="reset()">
                <span class="material-icons">restart_alt</span>
              </button>
            </div>
          </div>
        </div>

        <!--end-->


      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
