<!--top nav-->
<div>
  <nav class="navbar navbar-expand-lg" style="background-color: #240c30">
    <div class="container-fluid">
      <button class="btn btn-outline-warning" routerLink="/timetrackerpage" routerLinkActive="active">
        TIME TRACKER
      </button>
      <button class="btn btn-outline-warning ms-3" routerLink="/home">
        HOME
      </button>
      <button class="btn btn-outline-warning ms-3" routerLink="/timetrackerpage" (click)="onStart()">
        Start
      </button>

      <div class="iconlist">
        <span class="hom">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" style="color: white"></mat-icon>
        </span>
        <span class="help">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="help" style="color: white"></mat-icon>
        </span>
      </div>
      <div class="nav_right">
        <ul class="navlist">
          <li>
            <button type="button" mat-button (click)="drawer.toggle()">
              <img src="/assets/images/usericon.webp" alt="" class="prof" />
            </button>
          </li>
        </ul>
      </div>
    </div>

  </nav>
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
      <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="profilecard p-4">
          <div class="image d-flex flex-column justify-content-center align-items-center">
            <button class="btn btn-secondary">
              <img src="/assets/images/usericon.webp" height="90" width="100" /></button><br /><br />
            <span class="name mt-3" style="color: black">{{userData?.name}}</span> <br /><span class="idd"
              style="color: black">{{userData?.email}}</span>
            <div class="d-flex flex-row justify-content-center align-items-center gap-2"></div>
            <br />
            <div class="text mt-3">
              <span style="color: black">{{userData?.roles}}</span>
            </div>

            <div class="d-flex mt-2">
              <button class="btn1" routerLink="">Logout</button>
            </div>
          </div>
        </div>
      </div>
    </mat-drawer>
    <div class="example-sidenav-content"></div>
  </mat-drawer-container>
</div>


<!-- right user details and ends here -->

<!-- tracker modal form -->
<div class="modal fade show" [class.show]="showTrackerModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Details</h5>
        <button (click)="onCloseTrackerModal()" class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="TrackerForm" (ngSubmit)="onTrackSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="tdate">Date</label>
            <input type="date" class="form-control" formControlName="tdate" />
          </div>

          <div class="form-group">
            <label for="tproject">Projects</label>
            <input type="text" list="projects" class="form-control" formControlName="tproject" />
            <datalist id="projects">
              <option value="Academic"></option>
              <option value="Corporate"></option>
              <option value="Government"></option>
              <option value="Knowledge Office"></option>
              <option value="Retail"></option>
              <option value="Administration"></option>
              <option value="Add New Project" *ngIf="authservice.HaveAccess()" routerLink="/projects"></option>
            </datalist>
          </div>

          <div class="form-group">
            <label for="ttask">Tasks</label>
            <input type="text" list="tasks" class="form-control" formControlName="ttask" />
            <datalist id="tasks">
              <option value="Training"></option>
              <option value="Meeting and Discussions"></option>
              <option value="Lark Activity"></option>
              <option value="Content Development"></option>
              <option value="Add New Task" *ngIf="authservice.HaveAccess()" routerLink="/projects"></option>
            </datalist>
          </div>

          <div class="form-group">
            <label for="tmode">Mode</label>
            <input type="text" list="modes" class="form-control" formControlName="tmode" />
            <datalist id="modes">
              <option value="Work from Home"></option>
              <option value="Work from Office"></option>
            </datalist>
          </div>

          <div class="form-group">
            <label for="tdesc">Description</label>
            <input type="text" list="description" class="form-control" formControlName="tdesc" />
            <datalist id="description">
              <option value="Billable"></option>
              <option value="Non-Billable"></option>
            </datalist>
          </div>
          <div class="form-group">
            <label for="tmode">Time</label>
            <input type="time" class="form-control" formControlName="ttime" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="onCloseTrackerModal()" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- tracker modal form ends here -->

<!-- main body starts here-->
<!-- table starts here -->
<div class="container m-5">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Project</th>
        <th scope="col">Task</th>
        <th scope="col">Mode</th>
        <th scope="col">Bill</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of trackers">
        <th scope="col">{{ item.tdate }}</th>
        <th scope="col">{{ item.tproject }}</th>
        <th scope="col">{{ item.ttask }}</th>
        <th scope="col">{{ item.tmode }}</th>
        <th scope="col">{{ item.tdesc }}</th>
        <th scope="col">{{ item.ttime }}</th>
      </tr>
    </tbody>
  </table>
</div>
<!-- table ends here -->
<!-- main body ends here -->
