<!-- navbar starts here -->
<nav class="navbar navbar-expand-lg" style="background-color: #240c30">
  <div class="container-fluid">
    <button
      class="navbar-brand text-light btn btn-outline-warning mx-2"
      routerLink="/adminhome"
      routerLinkActive="active"
    >
      ADMIN
    </button>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button
            class="nav-link btn btn-outline-warning mx-2 text-light"
            (click)="onAddProject()"
          >
            Add Project
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link text-light btn btn-outline-warning mx-2"
            (click)="onAddEmployee()"
          >
            Add Employee
          </button>
        </li>
        <li class="nav-item">
          <button
            class="nav-link text-light btn btn-outline-warning mx-2"
            touterLink="/admintimetrackerpage"
          >
            Time Tracker Page
          </button>
        </li>
      </ul>
      <div class="d-flex">
        <button
          class="btn btn-outline-warning text-light"
          type="submit"
          (click)="logoutUser()"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>

<!-- navbar ends here -->

<!--  add employee modal starts here-->
<div class="modal fade show" [class.show]="showEmployeeModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ editEmployeeMode ? "Update Employee" : "Add Employee" }}
        </h5>
        <button
          (click)="onCloseEmployeeModal()"
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="empForm" (ngSubmit)="onEmpSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="ename">Enter Name</label>
            <input type="text" class="form-control" formControlName="ename" />
          </div>
          <div class="form-group">
            <label for="erole">Enter Role</label>
            <input type="text" class="form-control" formControlName="erole" />
          </div>
          <div class="form-group">
            <label for="eemail">Enter Email</label>
            <input type="text" class="form-control" formControlName="eemail" />
          </div>
          <div class="form-group">
            <label for="epassword">Enter Password</label>
            <input
              type="password"
              class="form-control"
              formControlName="epassword"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            (click)="onCloseEmployeeModal()"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            {{ editEmployeeMode ? "Update Employee" : "Add Employee" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- employee modal ends here -->

<!-- project modal starts here -->
<div class="modal fade show" [class.show]="showProjectModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{ editProjectMode ? "Update Project" : "Add Project" }}
        </h5>
        <button
          (click)="onCloseProjectModal()"
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="projectForm" (ngSubmit)="onProjectSubmit()">
        <div class="modal-body">
          <div class="form-group">
            <label for="pname">Enter Project Name</label>
            <input type="text" class="form-control" formControlName="pname" />
          </div>
          <div class="form-group">
            <label for="pcategory">Enter Category</label>
            <input
              type="text"
              class="form-control"
              formControlName="pcategory"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            (click)="onCloseProjectModal()"
            class="btn btn-secondary"
            data-dismiss="modal"
          >
            Close
          </button>
          <button type="submit" class="btn btn-primary">
            {{ editProjectMode ? "Update Project" : "Add Project" }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- project modal ends here -->

<!-- footer starts here -->
<footer style="background-color: #240c30; margin-top: 635px" class="p-2">
  <div class="text-center">
    <h5 class="text-muted text-light">Copyright @2016</h5>
  </div>
</footer>
<!-- footer ends here -->
