<!-- Nav bar starts -->
<div>
    <nav class="nav nav-pills flex-column flex-sm-row">
        <a class="flex-sm-fill text-sm-center nav-link active" aria-current="page" href="#" style="text-decoration:none ;">Services</a>
        <!-- <a class="flex-sm-fill text-sm-center nav-link" href="#">Longer nav link</a>
        <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a> -->
        <a class="flex-sm-fill text-sm-center nav-link disabled">Logout</a>
      </nav>
</div>
<!-- nav bar ends -->

<!-- body starts -->
<div class="card" style="width: 18rem;">
    <!-- <img src="images/timetracker.jpg" class="card-img-top" alt="timetracker image"> -->
    <div class="card-body text-sm-center mt-5">
      <h5 class="card-title">Time Tracker Page</h5>
      <p class="card-text">Know the amount of time you have worked for each day in ecan Project</p>
      <a href="../timetrackerpage/timetrackerpage.component.html" class="btn btn-primary">Time Tracker Page</a>
    </div>
  </div>