<!-- Nav bar starts -->
<ul class="nav nav-pills">
  <li class="nav-item">
      <a class="nav-link disabled"></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Time Tracker</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" aria-current="page" href="#">L</a>
  </li>
</ul>
<!-- nav bar ends -->

<!-- body starts -->
<div class="card" style="width: 18rem;">
    <!-- <img src="images/timetracker.jpg" class="card-img-top" alt="timetracker image"> -->
    <div class="card-body text-sm-center mt-5">
      <h5 class="card-title">Time Tracker Page</h5>
      <p class="card-text">Know the amount of time you have worked for each day in ecan Project</p>
      <a href="../timetrackerpage/timetrackerpage.component.html" class="btn btn-primary">Time Tracker Page</a>
    </div>
  </div>