.dropdowni {
  margin-top: 1em;
  width: 891px;
  margin: 5em auto auto;
  background-color: #20ffe1;
}

.bg-image {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  background-image: url('/assets/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
