<!-- nav bar starts -->
<!-- navbar starts here -->
<div class="bg-image"></div>
<nav class="navbar navbar-expand-lg" style="background-color: #240c30">
  <div class="container-fluid">


    <button
      class="navbar-brand text-light btn btn-outline-warning mx-2 left:50px"
      routerLink="/adminhome"
      routerLinkActive="active"
    >
      TIME TRACKER PAGE
    </button>


    <div class="d-flex">
      <button
        class="btn btn-outline-warning text-light"
        type="submit"
        (click)="logoutUser()"
      >
        Logout
      </button>
    </div>
  </div>
</nav>
<!-- nav bar ends -->
    <!-- Dropdown -->
<div class="dropdowni">
  <mat-form-field appearance="outline">
    <mat-label>Select Project</mat-label>
    <mat-select disableRipple>
      <mat-option value="1">Academic</mat-option>
      <mat-option value="2">Corporate</mat-option>
      <mat-option value="3">Government</mat-option>
      <mat-option value="4">Knowledge Office</mat-option>
      <mat-option value="5">Retail</mat-option>
      <mat-option value="6">
        <button class="btn btn-primary" style="width: 100%">Add Project</button>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Select Task</mat-label>
    <mat-select disableRipple>
      <mat-option value="1">Training</mat-option>
      <mat-option value="2">Meetings & Discussions</mat-option>
      <mat-option value="3">Lark Activity</mat-option>
      <mat-option value="4">Content Development</mat-option>
      <mat-option value="4"> <button class="btn btn-primary" style="width: 100%">Add Task</button></mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Select Mode of Work</mat-label>
    <mat-select disableRipple>
      <mat-option value="1">Work from Office</mat-option>
      <mat-option value="2">Work from Home</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Job Description</mat-label>
    <mat-select disableRipple>
      <mat-option value="1">Non-Billable</mat-option>
      <mat-option value="2">Billable</mat-option>
    </mat-select>
  </mat-form-field>

  
</div>

<footer style="background-color: #240c30; position: absolute; bottom: 0;width: 100%;" class="p-2">
  <div class="text-center">
    <h5 class="text-muted text-light">Copyright @2022</h5>
  </div>
</footer>
