<!-- nav bar starts -->
<div>
  <nav class="navbar bg-dark">
      <div class="container">
        <a class="navbar-brand me-3" href="#"><img src="https://img.icons8.com/color/48/000000/hourglass-sand-top.png"/></a>
      <!-- </div>
      <div class="container"> -->
        <h3 style="color:white; font-family:'Times New Roman', Times, serif">ICTAK CLOCK-IN SYSTEM</h3>
  <!-- <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid"> -->
        <a class="navbar-brand me-3" href="#"><img src="https://img.icons8.com/color/48/000000/hurry.png"/></a>
 
      </div>
    </nav>
  
  </div>
  <!-- nav bar ends -->
  
  <!-- login form starts -->
  <div class="container">
  <div class="row">
    <div class="col col-">
    </div>
<div class="col col-lg-5  ">
     
    <form action="new1.html" onsubmit="" class="bg-dark">
       <h2 style="font-family: 'Times New Roman', Times, serif; color: white;">LOGIN</h2>
      <br>

    <br>
        <div class="form1">
             <label  class="form-label" style="font-family: 'Times New Roman', Times, serif; color: white;">Enter your Username</label>
            <input type="text"  placeholder="Username" 
            class="form-control" id="exampleInputname" required>
           
            <br>          
        </div>
         
           
        <div class="form1">
              <label  class="form-label" style="font-family: 'Times New Roman', Times, serif; color: white;">Enter your Password</label>
              <input type="password" placeholder="Password"  class="form-control" id="password1" required>
              
        
     <br>
            <!-- Given a router link instead of onSubmit  -->
             <button type="submit" class="btn btn-primary" routerLink="home" id="submit">Submit</button>
       
</div>
  
  