






<div class="col col-lg-8">
     
    <!-- <form action="../home/home.component.html" onsubmit="" > -->
       <h2>LOGIN</h2>
      <br>
        <div class="form1">
             <label  class="form-label">UserId</label>
            <input type="text"  placeholder="enter userid" class="form-control" id="exampleInputname" required>
           
            <br>
        </div>
         
           
        <div class="form1">
              <label  class="form-label">Password</label>
              <input type="password" placeholder="enter password"  class="form-control" id="password1" required>
              
             <label id="one"></label>
             <br>
            <label id="three"></label>
  
  
  
             
            </div>
                  
         
            <a routerLink="../home/home.component.html"><button type="submit" class="btn btn-primary " id="submit">Submit</button></a>
             

       <!-- </form> -->
        
      </div>
  