* {
  margin: 0;
  padding: 0;
}
.login_section_main {
  background-image: url("https://images.pexels.com/photos/960137/pexels-photo-960137.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-size: cover;
  width: 100%;
  height: 700px;
}
.login_section_main img {
  width: 100%;
  height: 100%;
}
.login_text {
  font-size: 44px;
}

.container {
  display: flex;
  justify-content: end;
}

.loginform {
  /* box-shadow: 2px 3px 2px 3px gray; */
  border-radius: 10px;
  margin-top: 50px;
}
