.modal.fade.show {
  display: block;
  background: rgba(0, 0, 0, 0.4);
}

.card-title {
  color: black;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  height: calc(100vh - 106px);
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
